---
---

@charset "utf-8";

@import "so-simple/functions";
@import "so-simple/variables";
@import "so-simple/notices";

// Colors
$black-kite: #351e1c !default;								// really nice "black"
$kenpozome: #2e211b !default;								// close to black as well
$aimirucha: #2E372E !default;
$shishi-iro: #f9906f !default;								
$sakura-iro: #fcc9b9 !default;								// mpez
$torinoko-iro: #e2be9f !default;							// egg color
$akabeni: #C3272B !default;									// beautiful red

// https://en.wikipedia.org/wiki/Traditional_colors_of_Japan
$base-color: #351E1C !default; 
$text-color: #2e211b !default;
$accent-color: #C3272B !default;
$background-color: #fff !default;
$code-background-color: #bcb58c !default;
$border-color: #785e49 !default;
$overlay-color: #faa945 !default;
$nav-color: #fff !default;
$nav-background-color: $kenpozome !default;

$primary-color: #fff !default;
$success-color: #34c759 !default;
$warning-color: #ffcc00 !default;
$danger-color: #ff3b30 !default;
$info-color: #5ac8fa !default;

/* Syntax highlighting (base16) colors */
$base00: #fafafa !default;
$base01: #073642 !default;
$base02: #586e75 !default;
$base03: #657b83 !default;
$base04: #839496 !default;
$base05: #586e75 !default;
$base06: #eee8d5 !default;
$base07: #fdf6e3 !default;
$base08: #dc322f !default;
$base09: #cb4b16 !default;
$base0a: #b58900 !default;
$base0b: #859900 !default;
$base0c: #2aa198 !default;
$base0d: #268bd2 !default;
$base0e: #6c71c4 !default;
$base0f: #d33682 !default;

@import "so-simple/skin";
