*{
	box-sizing: inherit;
}

.site-footer{
	width: 90%;
	margin: 20px auto;
	max-width: 980px;
	box-sizing: border-box;
	background-color= $background-color;
}
.columns{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    text-align: center; 
    
    @media (min-width: 600px) {
	        flex-direction: row;
		        justify-content: space-between;
    }
}


.column{
    display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	text-align: center;
	margin: 2px;
	&:first-child { margin-left: 0; }
	&:last-child { margin-right: 0; }
}
