.site-footer{
	padding-left=10%
	padding-right=10%
	background-color= $background-color;
}
.footerContainer{
	background-color: mix(#000,#252a34,15%);
	padding-left: 20%;
	padding-right: 20%;
	float: none;
}

.footerContainer:after{
	content: "";
	display: block;
	clear: both;
}

.column{
	width: 50%;
	text-align: center;
	padding-left: 2%;
	padding-right: 2%;
	float:left
}

